header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 422px;
  background: #009688;
  background-image: url("../../../images/bg.png");
  background-size: cover;
}
