@import url('https://fonts.googleapis.com/css?family=Montserrat:200');
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background: #009688;
}
#person-name {
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-weight: 200;
  font-size: 4em;
}
