//
// Esquema de cores do gustavosotnas.github.io, baseado nas cores do Material.io
//

@color-primary: #009688; // Teal 500
@color-primary-light: #4DB6AC; // Teal 300
@color-primary-dark: #00796B; // Teal 700
@color-secondary: #673AB7; // Deep Purple 500
@color-secondary-light: #9575CD; // Deep Purple 300
@color-secondary-dark: #512DA8; // Deep Purple 700
@color-light-theme-appbar: #CFD8DC; // Blue Grey 100
@color-light-theme-light-appbar: #ECEFF1; // Blue Grey 50
@color-light-theme-dark-appbar: #90A4AE; // Blue Grey 300
@color-light-background: #FAFAFA; // Grey 50