html,
body {
  font-size: initial !important;
}
.container-loader {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#loader {
  z-index: 1;
  border: 8px solid #ECEFF1;
  border-radius: 50%;
  border-top: 8px solid #009688;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
