@import "../colors";

header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; // 100% of of browser window
  min-height: 422px;
  background: @color-primary;
  background-image: url("../../../images/bg.png");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
}