@import "../colors";

header {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; // 100% of of browser window
  background: @colorPrimary;
}
#person-name {
  color: white;
}