@import "../colors";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; // 100% of of browser window
  min-height: 500px;
  background: @colorPrimary;
}

#person-name {
  font-size: 4em;
}